@page "/access-denied"
@inject NavigationManager Navigation
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="row">
	<div class="col-md-13">
		<div class="card border-0">
			<div class="card-body flex-column">
				<div class="text-center mt-5">
					<img src="@imageUrl" style="max-width:7rem;" />
				</div>
				<h4 class="text-muted text-center m-4">@message</h4>
				<div class="text-center">
					<button class="btn btn-primary" @onclick="NavigateToLogin">Go to Login</button>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public AuthState? Reason { get; set; }

	private string message = string.Empty;
	private string imageUrl = "images/restricted.png";
	private bool isSessionExpired => Reason == AuthState.SessionExpired;
	private bool isUnauthorized => Reason == AuthState.Unauthenticated;

	protected override void OnParametersSet()
	{
		if (isSessionExpired)
		{
			imageUrl = "images/expired.png";
		}
		else
		{
			imageUrl = "images/restricted.png";
		}
		message = EnumDescriptionUtils.GetEnumDescription(Reason!);
	}
	private void NavigateToLogin()
	{
		Navigation.NavigateTo("/login");
	}
}
