@page "/user-track-preferences"
@inject UserTrackPreferencesService UserTrackPreferencesService
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<AuthorizeView>
	<NotAuthorized>
		<AccessDenied />
	</NotAuthorized>
	<Authorized>
		<h1>User Track Preferences</h1>

		@if (preferences != null)
		{
			<TrackListComponent Tracks="trackPreferences" />
		}
	</Authorized>
</AuthorizeView>

@code {
	private IEnumerable<UserTrackPreference> preferences;
	private List<Track> trackPreferences = new List<Track>();

	protected override async Task OnInitializedAsync()
	{
		preferences = await UserTrackPreferencesService.GetUserTrackPreferences();
		trackPreferences.Clear();
		foreach (var preference in preferences)
		{
			var track = new Track
				{
					Id = preference.TrackId
				};
			trackPreferences.Add(track);
		}
		StateHasChanged();
	}
}
