@page "/user-track-preferences"
@inject UserTrackPreferencesService UserTrackPreferencesService
@inherits ErrorHandlingComponentBase
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<AuthenticatedContent>
		<h1 class="my-4">User Track Preferences</h1>

		@if (Preferences != null)
		{
			<TrackListComponent Tracks="TrackPreferences" />
		}
</AuthenticatedContent>

@code {
	private IEnumerable<UserTrackPreference>? Preferences;
	private List<Track> TrackPreferences = new List<Track>();

	[Authorize]
	protected override async Task OnInitializedAsync()
	{
		Preferences = await UserTrackPreferencesService.GetUserTrackPreferences();
		TrackPreferences.Clear();
		if (Preferences != null)
		{
			foreach (var preference in Preferences)
			{
				var track = new Track
					{
						Id = preference.TrackId
					};
				TrackPreferences.Add(track);
			}
		}
		StateHasChanged();
	}
}
