@page "/user-track-preferences"
@inject UserTrackPreferencesService UserTrackPreferencesService
@inherits ErrorHandlingComponentBase
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<AuthenticatedContent>
		<h1 class="my-4">User Track Preferences</h1>

		@if (preferences != null)
		{
			<TrackListComponent Tracks="trackPreferences" />
		}
</AuthenticatedContent>

@code {
	private IEnumerable<UserTrackPreference>? preferences;
	private List<Track> trackPreferences = new List<Track>();

	[Authorize]
	protected override async Task OnInitializedAsync()
	{
		preferences = await UserTrackPreferencesService.GetUserTrackPreferences();
		trackPreferences.Clear();
		if (preferences != null)
		{
			foreach (var preference in preferences)
			{
				var track = new Track
					{
						Id = preference.TrackId
					};
				trackPreferences.Add(track);
			}
		}
		StateHasChanged();
	}
}
