@page "/user-track-preferences"
@inject UserTrackPreferencesService UserTrackPreferencesService
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<AuthorizeView>
	<NotAuthorized>
		<AccessDenied />
	</NotAuthorized>
	<Authorized>
		<h1 class="my-4">User Track Preferences</h1>

		@if (Preferences != null)
		{
			<TrackListComponent Tracks="TrackPreferences" />
		}
	</Authorized>
</AuthorizeView>

@code {
	private IEnumerable<UserTrackPreference>? Preferences;
	private List<Track> TrackPreferences = new List<Track>();

	protected override async Task OnInitializedAsync()
	{
		Preferences = await UserTrackPreferencesService.GetUserTrackPreferences();
		TrackPreferences.Clear();
		if (Preferences != null)
		{
			foreach (var preference in Preferences)
			{
				var track = new Track
					{
						Id = preference.TrackId
					};
				TrackPreferences.Add(track);
			}
		}
		StateHasChanged();
	}
}
